.toggle-label {
  position: relative;
}
.toggle-label:before {
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  display: block;
  content: "";
  width: 1.25rem;
  height: 1.25rem;

  border-radius: 9999%;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23a0aec0" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
  transition: transform 0.15s cubic-bezier(0, 0, 0.2, 1);
  transform: translateX(0);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.toggle-checkbox:checked + .toggle-label:before {
  transform: translateX(1.5rem);
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23a0aec0" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>');
}

.toggle.slim .toggle-label:before {
  top: -0.15rem;
  left: 0;
}
.toggle.slim .toggle-checkbox:checked + .toggle-label:before {
  transform: translateX(1.75rem);
}
.toggle.colour .toggle-label {
  background: #f5f5f5;
}
.toggle.colour .toggle-checkbox:checked + .toggle-label {
  background: linear-gradient(
    90deg,
    rgba(253, 38, 122, 1) 0%,
    rgba(255, 120, 84, 1) 35%
  );
  border: white solid 2px;
}
